body{
    color:red;
}


.contentVideo{
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid red;
}

.contentVideo__video{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.contentVideo__info-title{
    margin: 0 0 0.5rem 0;
    line-height: 1.3em;
    font-size: 20px;
    color: #515151;
}

.contentVideo__info{
    margin: 0;
    line-height: 1.5em;
    font-size: 14px;
    color: #777;
}

.contentVideo__video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentPopUp{
    width: 65vw;
    height: auto;
    background: #f0f0f0;
    position: fixed;
    bottom: -420px;
    right: 0;
    padding: 0 2.5rem 2rem;
    transition: all 0.3s ease-in-out;
    box-shadow: -8px -5px 20px rgb(0 0 0 / 26%);
}

.contentPopUp.up{
    position: fixed;
    bottom: 0;
    right: 0;
}

.contentPopUp__header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #b2b2b287;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    margin: 0 0 1rem 0;
}

.contentPopUp__header img{
    width: 30px;
    height: auto;
    object-fit: contain;
    filter: grayscale(20%);
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contentPopUp__header img:hover{
    opacity: 0.9;
}


@media screen and (max-width:64rem){

    .contentPopUp {
        width: 100vw;
        height: auto;
        background: #f0f0f0;
        position: fixed;
        bottom: -900px;
        right: 0;
        padding: 0 1rem 1rem;
        transition: all 0.3s ease-in-out;
        box-shadow: -8px -5px 20px rgb(0 0 0 / 26%);
    }

    .contentPopUp__header {
        width: 100%;
        height: 54px;
        border-bottom: 1px solid #b2b2b287;
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 0;
        margin: 0 0 1rem 0;
    }

    .contentVideo__info-title {
        margin: 1rem 0 0.5rem 0;
        line-height: 1.3em;
        font-size: 20px;
        color: #515151;
    }
/*  */

}